.body {
    display:flex;
    justify-content: center;
    background-color: #F8F8FB;
    width: 100%;
    overflow-y:auto;
}

.emptyBody {
    width:auto;
    text-align:center;
    margin-top:25%;
}

.emptyHeadline {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    color: #0C0E16;
    letter-spacing: -1px;
}

.emptyText {
    font-family: 'Spartan', sans-serif;
    color: #888EB0;
    font-size: 12px;
}


.bodyContent {
    width: 730px;
}

@media (max-width:1024px) {
    .bodyContent {
        height:100vh
    }
}