.body {
    display:flex;
    justify-content: center;
    background-color: #141625;
    width: 100%;
    overflow-y:auto;
}

.emptyBody {
    width:auto;
    text-align:center;
    margin-top:25%;
}

.emptyHeadline {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.emptyText {
    font-family: 'Spartan', sans-serif;
    color: #DFE3FA;
    font-size: 12px;
    letter-spacing: 0.2px
}


.bodyContent {
    width: 730px;
}

