.container{
    width: 730px;
    height: auto;
    background-color: #1E2139;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    border-radius: 7px
}

.topContainer {
    width: 100%;
    height: 75px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 50px;
    width:630px;

}

.centerContainer {
    width: 630px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
}

.bottomContainer {
    width: 630px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;   
}



.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0C0E16;
}

.amountDueDescription {
    color: #FFFF;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight:100;
    margin-left: 28px;
}

.breakdown {
    width: 100%;
    height: auto;
    background-color: #F9FAFE;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    background-color: #252945;
}

.totalPrice {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFF;
    margin-right: 50px;
}

.itemName {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 35px;
    color: #FFFFFF;
}

.itemNameContainer {
    margin-bottom: 40px;
    margin-left: 28px;
}

.itemAmountandPrice {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 35px;
    color: #FFFFFF;

}

.qtyContainer {
    margin-left: auto;
    margin-right: 50px;
    text-align:center;
}

.priceContainer {
    margin-right: 50px;
    text-align:right;
}

.totalContainer {
    margin-right: 50px;
    text-align: right;
}
.result {
    width: 100%;
    height: 80px;
    background-color: #0C0E16;
    border-radius: 0 0 8px 8px;
}

.invoiceHeadlineBreakdown {
    font-family: 'Spartan', sans-serif;
    color: #DFE3FA;
    font-size: 12px;
    margin-bottom: 35px;
}

.invoiceHeadline {
    font-family: 'Spartan', sans-serif;
    color: #7E88C3;
    font-size: 12px;
    margin-bottom: 0px;
}
.invoiceData {
    margin-top: 4px;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

.invoiceDateContainer {
    margin-bottom: 35px;
}

.centerLeft {
    margin-right: 100px;
}

.centerMiddle {
    margin-right: 100px;
}

.number {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

.description{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Spartan', sans-serif;
    color: #DFE3FA;
    font-size: 12px;
    
}

.hashtag {
    color: #888EB0;
}

.addressContainer {
    text-align:right;
}

.addressContainerBillTo {
    text-align: left;
}

.address {
    display:flex;
    flex-direction:column;
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    margin-bottom: 4px;
    margin-top: 0px;
    color: #DFE3FA;
}