

.headline {
    font-family: 'Spartan', sans-serif;
    font-weight:bold;
    margin-bottom:0px;
    margin-top:12px;
    color: #FFFFFF
}

.invoiceAmount {
    font-family: 'Spartan', sans-serif;
    margin-top: 3px;
    font-size: 9px;
    color: #DFE3FA;
}

.dropdownContainer {
    display:flex;
    font-family: 'Spartan', sans-serif;
    font-weight:bold;
    letter-spacing:-1px;
    font-size: 12px;
    margin-right: 50px;
    align-self: center;
    background-color: #141625;
    border:none;
    color: #FFFFFF;

}

.placeholder {
    font-family: 'Spartan', sans-serif;
    font-weight:bold;
    letter-spacing:-1px;
    font-size: 12px;
    margin-top: 3px;
    color: #FFFFFF;
}


@media (max-width: 768px) {
    .dropdownContainer{
      margin-right: 20px;
      padding:10px;
    }
  }