.popover-header {
    background-color: #F8F8FB;
    border-radius: 10px 10px 0 0;
}

.popover-body {
    background-color: #FFFF;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

#rdp-input-group-datePicker {
    display:flex;
    flex-direction:row;
}


.rdp-addon {
    display:none;
}


.rdp-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 14px;
}



.float-left {
    margin-right: 15px;
    font-size: 15px;
    margin-top: 14px;
}

.float-right {
    font-weight: bold;
    font-size: 12px;
}

.rdp-header span {
    margin:auto;
}

