.container {
    display:flex;
    flex-direction:row;
    width: 730px;
    min-height: 88px;
    background-color: #1E2139;
    align-items: center;
    border-radius: 9px;
}

.btnContainer {
    display:flex;
    flex-direction:row;
    margin-left:auto;
    justify-content: space-around;
    width:309px;
    margin-right: 25px;
}

.statusText {
    font-family: 'Spartan', sans-serif;
    color: #DFE3FA;
    margin-left: 25px;
    margin-right: 13px;
    font-size: 13px;
}

@media (max-width: 767px) {
    .container {
        width:90%;
        padding-right:25px;
    }

    .statusText {
        margin-right: auto;
    }
    
}