.body {
    display:flex;
    flex-direction: column;
    background-color: #141625;
    width: 100%;
    align-items: center;
    overflow-y:scroll;
    
}

.bodyContent {
    width: 730px;
}

.goBack {
    display:flex;
    flex-direction:row;
    width: 81px;
    height: 15px;
    justify-content: flex-start;
    width: 730px;
    margin-bottom: 33px;
    margin-top:64px;
}

.goBackHeadline{
    margin-top: 3.7px;
    margin-bottom: 0;
    margin-left: 15px;
    color: #FFFFFF;
    font-family: 'Spartan', sans-serif;
}

@media(max-width:767px) {
    .goBack {
        width:90vw;
    }
}